ylwrap
sylpheed.spec
stamp-h1
src/icons/stock*.h
src/icons/folder*.h
src/icons/group.h
src/icons/html.h
src/icons/sylpheed-logo.h
**/*.in
**/*.lo
**/*.la
**/Makefile
.deps
.libs
config.*
aclocal.m4
compile
configure
depcomp
libtool
ltmain.sh
missing
autom4te.cache/
po/POTFILES
src/plugin-marshal.*
src/quote_fmt_lex.c
src/quote_fmt_parse.*
src/sylpheed-marshal.*
src/sylpheed.rc
src/version.h
